* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('satoru-gojo-4k.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.form-box {
    padding: 20px 30px;
    width: 300px;
    height: 400px;
    backdrop-filter: blur(50px);
    border-radius: 5px;
    background: rgba(155, 7, 7, 0.13);
    border: 1px solid rgba(255, 255, 255, .5);
}